:root {
  --clr-light: whitesmoke;
  --clr-accent: rgb(89, 0, 255);
}

/* .App {
  text-align: center;
} */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.purple {
  color: var(--clr-accent);
}

.bold {
  font-weight: bold;
}
